html {
  background-color: #00539f;
}

body {
  width: 60%;
  margin: 0 auto;
  background-color: #ff9500;
  padding: 0 20px 20px 20px;
  border: 5px solid black;
}

h1 {
  margin: 0;
  padding: 20px 0;
  color: #ff0000;
}
table{
  width: 100vw;
}


tr {
  font-weight: bold;
}